## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [5]:
import os
import numpy as np
import pandas as pd

In [6]:
# 設定 data_path
dir_data = './data'
# dir_data = '/Users/shih-chi/Documents/Work/Marathon100Days/Draft/Day2/Data'

In [7]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: /Users/shih-chi/Documents/Work/Marathon100Days/Draft/Day2/Data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [8]:
(r,c) = app_train.shape
print('Row count = %s' % (r) )
print('Column count = %s' % (c))

Row count = 307511
Column count = 122

#### 列出所有欄位

In [9]:
lst = app_train.columns.tolist()
print(lst)

['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

#### 截取部分資料

In [10]:
# 取索引100 - 150，SK_ID_CURR與NAME_CONTRACT_TYPE的資料
app_train.loc[100:150,['SK_ID_CURR','NAME_CONTRACT_TYPE']]

     SK_ID_CURR NAME_CONTRACT_TYPE
100      100119    Revolving loans
101      100120         Cash loans
102      100121         Cash loans
103      100122         Cash loans
104      100123         Cash loans
105      100124         Cash loans
106      100125         Cash loans
107      100126    Revolving loans
108      100127         Cash loans
109      100129    Revolving loans
110      100130         Cash loans
111      100131         Cash loans
112      100132         Cash loans
113      100133         Cash loans
114      100134    Revolving loans
115      100135         Cash loans
116      100136         Cash loans
117      100137         Cash loans
118      100138         Cash loans
119      100139         Cash loans
120      100140    Revolving loans
121      100142         Cash loans
122      100143    Revolving loans
123      100144         Cash loans
124      100145         Cash loans
125      100146         Cash loans
126      100147         Cash loans
127      100148         Cash loans
128      100149         Cash loans
129      100151         Cash loans
130      100152         Cash loans
131      100153         Cash loans
132      100154    Revolving loans
133      100155         Cash loans
134      100156         Cash loans
135      100157         Cash loans
136      100158         Cash loans
137      100159         Cash loans
138      100160         Cash loans
139      100161         Cash loans
140      100162         Cash loans
141      100163         Cash loans
142      100164         Cash loans
143      100165         Cash loans
144      100166         Cash loans
145      100167         Cash loans
146      100173         Cash loans
147      100174    Revolving loans
148      100175         Cash loans
149      100176         Cash loans
150      100177         Cash loans

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [12]:
# 取索引99 - 198，SK_ID_CURR到NAME_INCOME_TYPE的資料
app_train.loc[99:198,'SK_ID_CURR':'NAME_INCOME_TYPE']

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE
99,100118,0,Cash loans,F,N,Y,0,90000.0,675000.0,26541.0,675000.0,Unaccompanied,Pensioner
100,100119,0,Revolving loans,F,N,Y,0,54000.0,180000.0,9000.0,180000.0,Unaccompanied,Working
101,100120,0,Cash loans,F,N,N,0,135000.0,781920.0,28215.0,675000.0,Unaccompanied,Working
102,100121,0,Cash loans,M,N,Y,0,126000.0,787131.0,26145.0,679500.0,Unaccompanied,Working
103,100122,0,Cash loans,F,N,N,1,76500.0,808650.0,26217.0,675000.0,Unaccompanied,Commercial associate
104,100123,0,Cash loans,F,N,N,0,103500.0,675000.0,19737.0,675000.0,Unaccompanied,Working
105,100124,0,Cash loans,M,N,Y,0,225000.0,448272.0,28647.0,396000.0,Unaccompanied,Pensioner
106,100125,0,Cash loans,F,N,N,0,126000.0,263686.5,26208.0,238500.0,Unaccompanied,Pensioner
107,100126,0,Revolving loans,M,N,Y,2,135000.0,180000.0,9000.0,180000.0,Family,Working
108,100127,0,Cash loans,M,N,Y,0,112500.0,52128.0,5341.5,45000.0,Unaccompanied,Pensioner
109,100129,0,Revolving loans,F,Y,Y,1,85500.0,135000.0,6750.0,135000.0,Unaccompanied,Working
110,100130,1,Cash loans,F,N,Y,1,157500.0,723996.0,30802.5,585000.0,Unaccompanied,Commercial associate
111,100131,0,Cash loans,F,N,Y,0,270000.0,891072.0,45625.5,720000.0,Unaccompanied,Commercial associate
112,100132,0,Cash loans,F,N,Y,0,202500.0,1136439.0,73611.0,1089000.0,Unaccompanied,Commercial associate
113,100133,0,Cash loans,F,N,N,0,67500.0,384048.0,18810.0,270000.0,Unaccompanied,Working
114,100134,0,Revolving loans,F,N,N,0,202500.0,180000.0,9000.0,180000.0,Unaccompanied,Commercial associate
115,100135,0,Cash loans,M,N,Y,0,135000.0,391194.0,26271.0,319500.0,Unaccompanied,Commercial associate
116,100136,0,Cash loans,M,Y,N,1,157500.0,1571931.0,49356.0,1435500.0,Unaccompanied,State servant
117,100137,0,Cash loans,F,Y,Y,0,225000.0,891072.0,45625.5,720000.0,Family,Pensioner
118,100138,0,Cash loans,M,Y,N,0,135000.0,824823.0,29223.0,688500.0,Unaccompanied,Pensioner
119,100139,0,Cash loans,F,N,N,1,157500.0,302341.5,24016.5,261000.0,Family,Working
120,100140,0,Revolving loans,F,N,N,0,157500.0,675000.0,33750.0,675000.0,Unaccompanied,Commercial associate
121,100142,0,Cash loans,M,Y,Y,1,360000.0,579195.0,27994.5,468000.0,"Spouse, partner",State servant
122,100143,0,Revolving loans,M,N,Y,0,162000.0,270000.0,13500.0,270000.0,Unaccompanied,State servant
123,100144,0,Cash loans,F,N,N,0,112500.0,535500.0,30028.5,535500.0,Unaccompanied,Working
124,100145,0,Cash loans,F,Y,Y,1,202500.0,260725.5,16789.5,198000.0,Family,Working
125,100146,0,Cash loans,M,Y,Y,0,117000.0,327024.0,12456.0,270000.0,Unaccompanied,Pensioner
126,100147,0,Cash loans,F,N,Y,1,135000.0,518562.0,22099.5,463500.0,Unaccompanied,Working
127,100148,0,Cash loans,F,N,Y,0,247500.0,755190.0,36459.0,675000.0,Family,Commercial associate
128,100149,0,Cash loans,M,Y,N,0,171000.0,539590.5,26374.5,445500.0,Family,Working
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,100198,0,Cash loans,M,Y,Y,1,135000.0,531000.0,32616.0,531000.0,Unaccompanied,Working
170,100199,0,Cash loans,F,N,Y,0,112500.0,269550.0,18891.0,225000.0,Unaccompanied,Working
171,100200,0,Cash loans,F,N,N,0,216000.0,450000.0,27193.5,450000.0,Unaccompanied,Working
172,100201,0,Cash loans,F,N,Y,1,180000.0,675000.0,36747.0,675000.0,Unaccompanied,Commercial associate
173,100202,0,Cash loans,F,N,N,0,67500.0,127350.0,6597.0,112500.0,Unaccompanied,Pensioner
174,100203,0,Cash loans,F,N,N,0,54000.0,119925.0,11097.0,112500.0,Other_B,Pensioner
175,100204,0,Cash loans,F,N,Y,1,81000.0,532494.0,30699.0,454500.0,Unaccompanied,Pensioner
176,100205,0,Cash loans,F,N,Y,0,63000.0,808650.0,26217.0,675000.0,Unaccompanied,Working
177,100206,0,Cash loans,M,Y,N,1,157500.0,318528.0,25294.5,252000.0,Unaccompanied,Commercial associate
178,100207,0,Cash loans,F,N,Y,0,157500.0,700830.0,22738.5,585000.0,"Spouse, partner",Working
179,100208,0,Cash loans,M,N,N,1,180000.0,888840.0,29016.0,675000.0,Family,Commercial associate
180,100209,1,Revolving loans,M,N,Y,3,180000.0,540000.0,27000.0,540000.0,Unaccompanied,Commercial associate
181,100210,0,Cash loans,F,N,Y,1,202500.0,771493.5,25627.5,666000.0,Unaccompanied,Working
182,100211,0,Cash loans,M,N,N,3,225000.0,746280.0,49873.5,675000.0,Unaccompanied,Commercial associate
183,100213,0,Cash loans,F,N,N,2,49500.0,278460.0,19930.5,225000.0,Unaccompanied,Working
184,100214,1,Cash loans,F,N,Y,1,202500.0,436032.0,28516.5,360000.0,Unaccompanied,Commercial associate
185,100215,0,Cash loans,F,Y,N,0,90000.0,227520.0,8172.0,180000.0,Unaccompanied,Pensioner
186,100216,0,Cash loans,F,N,N,0,90000.0,67500.0,6705.0,67500.0,Unaccompanied,Working
187,100217,0,Cash loans,F,N,N,0,180000.0,254700.0,25321.5,225000.0,Family,Working
188,100218,0,Cash loans,M,Y,Y,0,337500.0,876078.0,49050.0,765000.0,Unaccompanied,Commercial associate
189,100219,0,Cash loans,M,N,Y,1,315000.0,2250000.0,83515.5,2250000.0,Unaccompanied,Commercial associate
190,100220,0,Cash loans,F,N,Y,0,225000.0,1040985.0,30568.5,909000.0,Unaccompanied,Commercial associate
191,100221,0,Cash loans,F,N,Y,0,225000.0,684054.0,77494.5,630000.0,Unaccompanied,Commercial associate
192,100224,0,Cash loans,F,Y,Y,2,225000.0,1256400.0,36864.0,900000.0,Unaccompanied,Commercial associate
193,100225,0,Cash loans,M,Y,N,2,157500.0,720000.0,28552.5,720000.0,Unaccompanied,Commercial associate
194,100226,0,Revolving loans,F,N,N,2,112500.0,270000.0,13500.0,270000.0,Unaccompanied,Working
195,100227,0,Cash loans,M,N,N,0,292500.0,1024740.0,55719.0,900000.0,Unaccompanied,Working
196,100228,0,Cash loans,F,N,N,1,121500.0,1102500.0,32364.0,1102500.0,Unaccompanied,State servant
197,100229,0,Cash loans,F,N,Y,0,157500.0,544491.0,16047.0,454500.0,Family,Working
198,100230,0,Revolving loans,F,N,N,0,135000.0,405000.0,20250.0,405000.0,Children,Working

In [28]:
# 取索引5 - 8列，位置5 - 9 column的資料
app_train.iloc[5:9,5:9]

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT
5               Y             0           99000.0    490495.5
6               Y             1          171000.0   1560726.0
7               Y             0          360000.0   1530000.0
8               Y             0          112500.0   1019610.0

In [31]:
# 取索引5的所有column資料
app_train.iloc[5]

SK_ID_CURR                                           100008
TARGET                                                    0
NAME_CONTRACT_TYPE                               Cash loans
CODE_GENDER                                               M
FLAG_OWN_CAR                                              N
FLAG_OWN_REALTY                                           Y
CNT_CHILDREN                                              0
AMT_INCOME_TOTAL                                      99000
AMT_CREDIT                                           490496
AMT_ANNUITY                                         27517.5
AMT_GOODS_PRICE                                      454500
NAME_TYPE_SUITE                             Spouse, partner
NAME_INCOME_TYPE                              State servant
NAME_EDUCATION_TYPE           Secondary / secondary special
NAME_FAMILY_STATUS                                  Married
NAME_HOUSING_TYPE                         House / apartment
REGION_POPULATION_RELATIVE                         0.035792
DAYS_BIRTH                                           -16941
DAYS_EMPLOYED                                         -1588
DAYS_REGISTRATION                                     -4970
DAYS_ID_PUBLISH                                        -477
OWN_CAR_AGE                                             NaN
FLAG_MOBIL                                                1
FLAG_EMP_PHONE                                            1
FLAG_WORK_PHONE                                           1
FLAG_CONT_MOBILE                                          1
FLAG_PHONE                                                1
FLAG_EMAIL                                                0
OCCUPATION_TYPE                                    Laborers
CNT_FAM_MEMBERS                                           2
                                          ...
DEF_30_CNT_SOCIAL_CIRCLE                                  0
OBS_60_CNT_SOCIAL_CIRCLE                                  0
DEF_60_CNT_SOCIAL_CIRCLE                                  0
DAYS_LAST_PHONE_CHANGE                                -2536
FLAG_DOCUMENT_2                                           0
FLAG_DOCUMENT_3                                           1
FLAG_DOCUMENT_4                                           0
FLAG_DOCUMENT_5                                           0
FLAG_DOCUMENT_6                                           0
FLAG_DOCUMENT_7                                           0
FLAG_DOCUMENT_8                                           0
FLAG_DOCUMENT_9                                           0
FLAG_DOCUMENT_10                                          0
FLAG_DOCUMENT_11                                          0
FLAG_DOCUMENT_12                                          0
FLAG_DOCUMENT_13                                          0
FLAG_DOCUMENT_14                                          0
FLAG_DOCUMENT_15                                          0
FLAG_DOCUMENT_16                                          0
FLAG_DOCUMENT_17                                          0
FLAG_DOCUMENT_18                                          0
FLAG_DOCUMENT_19                                          0
FLAG_DOCUMENT_20                                          0
FLAG_DOCUMENT_21                                          0
AMT_REQ_CREDIT_BUREAU_HOUR                                0
AMT_REQ_CREDIT_BUREAU_DAY                                 0
AMT_REQ_CREDIT_BUREAU_WEEK                                0
AMT_REQ_CREDIT_BUREAU_MON                                 0
AMT_REQ_CREDIT_BUREAU_QRT                                 1
AMT_REQ_CREDIT_BUREAU_YEAR                                1
Name: 5, Length: 122, dtype: object